body {
        font-family: ellograph-cf, monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: light;
        background-color: #805b52;
} 

H1 {
        font-family: ellograph-cf, monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 4em;
    color: #ffe0f1;
}

small {
        font-family: ellograph-cf, monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    color: #ffe0f1;
}

.wideleftmargin {
    padding: 5% 5% 5% 25%;
}

.bottomrule {
    border-bottom: 1px solid #ffe0f1;
}

p {
    font-size: 1.2em;
    color: #ffe0f1;
    }

img{
  position: absolute;
  left: 0px;
  top: 0px;
}

#imga {
    z-index: -1;

}
#imgab {
    opacity: 0.0;
    filter: alpha(opacity=0);
    transition: 0.3s;
    }
    
#imgab:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: 0.3s;
    }

#imgb {
    position: absolute;
    z-index: -2;
    top: 650px;
    left: 610px;
}

#imgbb {
    opacity: 0.0;
    filter: alpha(opacity=0);
    transition: 0.3s;
    top: 650px;
    left: 610px;
    }
    
#imgbb:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: 0.3s;
    }

#imgc {
    position: absolute;
    z-index: -3;
    left: 610px;
}

#imgcb {
    opacity: 0.0;
    filter: alpha(opacity=0);
    transition: 0.3s;
    left: 610px;
    }
    
#imgcb:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: 0.3s;
    }

#imgd {
    z-index: -4;
    top: 650px;
}

#imgdb {
     opacity: 0.0;
    filter: alpha(opacity=0);
    transition: 0.3s;
    top: 650px;
    }
    
#imgdb:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: 0.3s;
    }

#imge{
    z-index: 0;
    animation: slideInFromBottom 1s ease-in;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(0%);
  }
 25%{
    transform: translatey(25%);
 }
 50%{
    transform: translateY(50%);
 }
100% {
    transform: translateY(75%);
  }
    
.bkimage {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.bkimage img {
    width: 100%;
    height: auto;
    min-height: 100vh;
    object-fit: cover;
}